
mtcnn==0.1.1
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72

pandas==1.5.3
Pillow==9.3.0
protobuf==3.19.6
pyarrow==11.0.0
pyproject-toml==0.0.10
python-dateutil==2.8.2
python-version==0.0.2
PyYAML==6.0
streamlit==1.20.0
streamlit-webrtc==0.45.0
supervision==0.3.2
supervisor==4.2.5
sympy==1.11.1
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.64.1
ultralytics==8.0.124
urllib3==1.26.14
validators==0.20.0
pip==23.0.1
PyOpenGL==3.1.6
av

